# Should be mirrored in pyporject.toml
cmake>=3.26
decorator
einops
numpy<2.0.0
packaging
pip
pybind11
pyyaml
regex
scipy
pandas
psutil
setuptools>=64
setuptools-scm>=8
torch==2.10.0
torchvision
torchaudio
wheel
xgrammar>=0.1.30
pandas-stubs
opencv-python-headless<=4.11.0.86 # Required to avoid numpy version conflict with vllm
compressed_tensors>=0.11.0

# Required for disaggregated prefill
msgpack
quart

# Required for N-gram speculative decoding
numba

# Required for kvpool supports memcache backend
memfabric_hybrid
memcache_hybrid

# Install torch_npu
#--pre
#--extra-index-url https://mirrors.huaweicloud.com/ascend/repos/pypi
torch_npu @ https://gitcode.com/Ascend/pytorch/releases/download/v26.0.0-beta.1-pytorch2.10.0/torch_npu-2.10.0rc3-cp310-cp310-manylinux_2_28_aarch64.whl

arctic-inference==0.1.1
transformers==5.5.3
fastapi<0.124.0
triton-ascend==3.2.0
